.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea/
Будет удалено .idea/.name
Будет удалено .idea/compiler.xml
Будет удалено .idea/copyright/
Будет удалено .idea/encodings.xml
Будет удалено .idea/gradle.xml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/runConfigurations.xml
Будет удалено .idea/vcs.xml
Будет удалено AutoTimeHelper.iml
Будет удалено app/google-services.json
